
:root{
    --first-color-green: #93c572;
    --second-color-brown:#987856;
    --third-color-darker-green:#669747;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    height: 100%;
    overflow: hidden;
    height: 100vh;
}

/* Seccion principal */

header {
    width: 100%;
    height: 100%;
    background-image: url("/img/imagen-portada.jpg");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.header-nav {
    width: 100%;
    display: flex;
    background-color: var(--first-color-green);
    height: 70px;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

#header-nav--title-p {
    position: fixed;
    top: 16px;
    left: 82px;
}

.logo-hamburguesa {
    position: relative;
    font-size: 45px;
    margin-top: 11px;
    margin-left: 515px;
}

.header-nav--title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 27px;
    margin-left: 25px;
    color: #ffff;
    gap: 1rem;
}

.header-nav--title a {
    color: #ffff;
    font-size: 30px;
    border: 2px solid #ffff;
    border-radius: 100px;
    padding: 0px 7px;
}

.header-nav--links {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    align-items: center;
    margin-right: 25px;
}

.header-nav--links a {
    text-decoration: none;
    color: #ffff;
    font-size: 19px;
    font-weight: bold;
    border: 2px #ffff solid;
    padding: 7px;
}

.hamburguesa-header-nav {
    display: none;
}

.header-section1 {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: absolute;
    z-index: 0;
    height: 100vh;
    background-color: hsla(0, 0%, 100%, 0.553);
}

.header-section1--content {
    margin-left: 5vw;
}

.header-section1--title {
    gap: 0.5rem;
}

.header-section1--title h1 {
    font-size: 8vh;
    justify-content: center;
    padding-bottom: 5px;
    color: var(--second-color-brown);
    text-shadow: 1px 1px 1px  var(--second-color-brown);
}

.header-section1--title p {
    font-size: 4.5vh;
    font-weight: bold;
    padding-bottom: 20px;
}

.header-section1--links {
    justify-content: left;
}

.header-section1--links a {
    text-decoration: none;
    color: var(--third-color-darker-green);
    font-size: 4vh;
    font-weight: bold;
    border-radius: 8px;
    gap: 1rem;
    color: #ffff;
}

.header-section1--links a i {
    font-size: 5vh;
}

#bxl-whatsapp {
    background-color:  var(--third-color-darker-green);
    padding: 8px;
    margin-right: 5px;
}

.header-wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* siguientes secciones */

/* Media Queries */

@media (max-width: 899px) {
    .header-nav--title {
        font-size: 27px;
        margin: 0;
        padding: 25px;
    }

    #header-nav--title-p {
        top: 0px;
    }

    .header-nav--title p {
        margin-top: 16px;
        margin-bottom: 1rem;
    }

    .header-nav--links  {
        display: none;
    }

    .header-nav--title a {
        color: #ffff;
        font-size: 20px;
        border: 2px solid #ffff;
        border-radius: 100px;
        padding: 0px 7px;
    }

    .hamburguesa-header-nav{
        display: flex;
        justify-content: end;
        position: fixed;
        right: 0;
    }

    .hamburguesa-header-nav--links {
        z-index: 1;
        position: fixed;
        display: flex; 
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        height: 100vh;
        width: 100vw; 
        background:-webkit-linear-gradient(90deg, hsla(90, 7%, 77%, 0.771),hsla(17, 47%, 27%, 0.763),hsla(0, 10%, 6%, 0.746));background: linear-gradient(90deg, hsla(90, 7%, 77%, 0.779),hsla(17, 47%, 27%, 0.73),hsla(0, 10%, 6%, 0.738));;
        width: 448px;
        margin-left: 112px;
        height: 100vh;
    }

    .logo-hamburguesa {
        z-index: 2;
        color: white;
    }

    .hamburguesa-activado {
        display: none;
    }

    .header-section1--content {
        margin-left: 4vw;
    }

    .header-nav--links {
        display: none;
    }
    
    .hamburguesa-header-nav--links a {
        text-decoration: none;
        color: #ffff;
        font-size: 19px;
        font-weight: bold;
        padding: 7px;
    }

    .header-section1--title h1 {
        font-size: 7vh;
    }

    .header-section1--title p {
        font-size: 4vh;
    }

}

@media (max-width: 414px) {
    .header-section1 {
        width: 100%;
    }

    .header-section1--title h1 {
        font-size: 6vh;
    }

    .header-section1--title p {
        font-size: 4.2vh;
    }

    .header-section1--content {
        margin-left: 0vw;
        text-align: center;
        text-wrap: wrap;
    }

    .hamburguesa-header-nav--links {
        width: 414px;
    }
}